extends ../layout

block content
  a(href='/bikes/create') Nueva Bicicleta

  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicación
        th(scope='col')
        th(scope='col')
        th(scope='col')
    tbody
      each bike in bikes
        tr
          th(scope='row')
            = bike.id
          td= bike.color
          td= bike.model
          td= bike.location
          td
            a(href='/bikes/'+bike.id+'/show') Ver
          td
            a(href='/bikes/'+bike.id+'/edit') Editar
          td
            form.inline(method='post' action='bikes/'+bike.id+'/delete')
              input(type="hidden", name="id" value= bike.id)
              button.link-button(type="submit" name='submit_param' value='submit_value' class='btn')
                ='Eliminar'
