extends ../layout

block content
  a(href='/bikes') Volver

  table.table
      tr
        th(colspan='2') BICICLETA
      tr
        th ID
        td= bike.id
      tr
        th Color
        td= bike.color
      tr
        th Modelo
        td= bike.model
      tr
        th Ubicación
        td= bike.location

